/**
 * Base style to affect HTML elements on a general scale.
 */

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
}

body {
    margin: 0 auto;
    padding: 1em;
    color: @bodyColor;
    font: 100.01%/1 @fontFamilyBody;
    border: 2px solid @lineColor;
}

a {
    text-decoration: underline;
}

a:link {
    color: @bodyColor;
}

a:visited {
    color: @lineColor;
}

a:hover {
    background-color: @textContrast;
}

.region-main {
	padding: 1em;
}

.site-footer {
	padding: 1em;
}

.footer-column-x {
	border: 1px solid @lineColor;
	margin: 1em 0.5em;
	padding: 0 1em;
}

.footer-column-1 {
	margin-left: 1em;
}

.footer-column-3 {
	margin-right: 1em;
}
