/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

/**
 * General layout
 */

.inner-wrap {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid @lineColor;
}

/**
 * Footers
 */
.footer-column {
    width: 33%;
    float: left;
}
