/**
 * Layout for responsive style through media queries.
 */

/*
 *  @media screen and (max-width: 1500px) {
 *  .site-logo {
 *      display: none;
 *  }
 *}
 */
@media screen and (max-width: 1000px) {

    .region-header-col-1,
    .region-header-col-3 {
        width: 20%;
    }

    .region-main {

        &.has-sidebar {
            width: 80%;
        }

        &.has-sidebar-left.has-sidebar-right {
            width: 70%;
        }
    }

    .region-sidebar-left,
    .region-sidebar-right {
        width: 20%;
    }

    .region-sidebar-right.has-sidebar-left,
    .region-sidebar-left.has-sidebar-right {
        width: 15%;
    }
}


@media screen and (max-width: 800px) {

    .rm-desktop a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .region-flash {
        margin-top: 5em;
    }

    .outer-wrap-flash {
        display: none;
    }

    .region-header-col-1,
    .region-header-col-3 {
        width: 15%;
    }

    .region-header-col-2 {
        width: 70%;
    }

    .region-header-col-1 {
        visibility: hidden;
    }

    .region-main {

        &.has-sidebar {
            width: 80%;
        }

        &.has-sidebar-left.has-sidebar-right {
            width: 80%;
        }
    }

    .region-sidebar-left,
    .region-sidebar-right {
        width: 20%;
    }

    .region-sidebar-right.has-sidebar-left {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .rm-desktop {
        // visibility: hidden;
        display: none;
    }

    .rm-navbar {
        border: none;
    }

    .region-main {
        width: 100%;
        margin: 0;

        &.has-sidebar {
            width: 100%;
        }

        &.has-sidebar-left.has-sidebar-right {
            width: 100%;
        }
    }

    .region-sidebar-left,
    .region-sidebar-right {
        width: 100%;
        margin: 0;
    }

    .region-sidebar-left.has-sidebar-right {
        width: 100%;
    }

    .region-sidebar-right.has-sidebar-left {
        width: 100%;
    }

    .region-main img {
        width: 100%;
    }
}
